.checkout_address {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    border: 1px solid black;
}

.checkout_addressOptions {
    display: flex;
    flex-direction: column;

}

.checkout_addressOptions>h2 {
    margin: 4px;
}

.checkout_addressOptions>.checkout_textfield {
    margin-top: 10px;
    width: 300px;
}

.checkout_button {
    width: 300px;
    height: 30px;
    margin-bottom: 20px;
    background-color: #b5f7d3;
    border: 1px solid black;
    border-radius: 2px;
    cursor: pointer;
}

.checkout_button:hover {
    background-color: #35a065;
    color: white;
}