.product {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    max-width: 350px;
    z-index: 1;
    border-radius: 10px;
}

.product:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product_rating {
    margin-top: 0px;
    display: flex;
}

.product>img {
    margin-top: 20px;
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product_info {
    height: 100px;
    margin-bottom: 15px;
}

.product_price {
    margin-top: 5px;

}

.product>button {
    background: #b5f7d3;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.product button:hover {
    box-shadow: 0 0 5px #888;
    color: #222;
}